<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>회원가입</title>
	<link rel="stylesheet" href="../../web/style.css">
</head>

<body>
<form class="login" name="loginform" action="<?php echo('regist_start');?>" method="post">
	<div class="form_form">
		<b class="text">Sign Up</b>
		<ul>
			<li class="id">ID: <input type="text" name="mem_id" id="id_id"></li>
			<li class="pass">PW: <input type="password" name="mem_pass" id="pass_pass"></li>
			<li class="nm">Name: <input type="text" name="mem_name" id="nmnm"></li>
		</ul>
		<button type="submit" class="endlogin2">회원가입</button>
	</div>
</form>
</body>


</html>
