<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>글쓰기</title>
	<link rel="stylesheet" href="../../web/style.css">

</head>
<body>
<header>
	<div class="head">
		<b>IRON MAN FAN BLOG</b>
		<div class="user">
			<p><?= $mem_id = $this->session->userdata('mem_id');?>님</p>

		</div>
	</div>
	<nav>
		<?php if(!$mem_id){
		?>
		<ul class="navbar">
			<li><a href="http://localhost/web/login/loginpage">로그인</a></li>
			<li><a href="http://localhost/web/main/regist">회원가입</a></li>
			<li><a href="http://localhost/web/board/get_board">게시판</a></li>
			<li><a href="http://localhost/web/write/writepage">글쓰기</a></li>
		</ul>
		<?php
		}else{
	?>
		<ul class="navbar">

			<li><a href="https://www.youtube.com/watch?v=cb1zK7tJOXE&t=3s">유튜브</a></li>
			<li><a href="http://localhost/web/login/logout">로그아웃</a></li>
			<li><a href="http://localhost/web/board/get_board">게시판</a></li>
			<li><a href="http://localhost/web/write/writepage">글쓰기</a></li>
		</ul>

		<?php
}
?>
	</nav>
</header>
<main>
	<h1>글쓰기</h1>
	<form action="<?php echo('do_write');?>" method="post">
		<div class="write_detail">
			<div class="left"></div>
			<div class="center">
					<div class="center-top">
						<b class="text2">제목:</b>
						<input type="text" name="title" id="write_title">
					</div>
					<div class="center-bottom">
						<b class="text3">내용</b><br>
						<textarea name="contents" id="write_content" cols="300" rows="50"></textarea>
					</div>
					<button type="submit" id="write_btn">작성하기</button>
			</div>
			<div class="right"></div>
		</div>
	</form>
</main>
</body>
</html>
